/* General Attributes STARTS */

body {
  padding: 0;
  margin: 0;
}

main {
  margin-top: 250px;
}

/* General Attributes ENDS */

/* NAV BAR FIXED STARTS */

.top-nav {
  position: fixed;
  background-color: #2d76ee;
  width: 100%;
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0;
  z-index: 1;
  min-height: 86px;
}

.top-nav-record {
  padding: 2px 16px;
  max-height: 82px;
}

.top-nav-record-title {
  height: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  margin-top: 16px;
}

.top-nav-record-comment {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  margin: 0;
  margin-bottom: 16px;
}

.record-comment-link {
  text-decoration: underline;
  color: #fff;
  margin-left: 12px;
}

.top-nav-menu-fast-links {
  display: none;
}

.top-nav-button {
  display: inline-block;
  width: 50%;
  min-height: 48px;
  background-color: #2d76ee;
  border: 1px solid #fff;
  color: white;
  border-bottom: none;
  margin-left: -2.5px;
}

.record-nav-button-img {
  width: 9px;
}

.top-nav-button:hover {
  background-color: white;
  color: black;
}

.top-nav-menu {
  position: fixed;
  top: 132px;
  background-color: white;
  width: 100%;
  height: 48px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  z-index: 1;
}

.top-nav-menu-logo {
  width: 106px;
  height: 48px;
}

.top-nav-menu-links {
  display: flex;
  float: right;
  justify-content: flex-end;
}

.menu-links-first {
  display: none;
}

.nav-menu-link {
  width: 25px;
  margin-top: 10px;
  margin-right: 20px;
}

.top-nav-banner {
  position: fixed;
  top: 180px;
  text-align: start;
  background-color: yellow;
  height: 60px;
  width: 100%;
  z-index: 1;
}

.top-nav-banner a {
  text-decoration: none;
  color: black;
}

.highlight-info a {
  color: #fff9;
  text-decoration: none;
}

.top-nav-banner a:hover {
  text-decoration: underline;
}

.nav-banner-comment {
  margin-left: 10px;
}

header {
  position: fixed;
  top: 0;
}

.top-nav-menu-2 {
  display: none;
}

/* NAV BAR FIXED ENDS */

/* MAIN STARTS */

/* HIGHLIGHTS STARTS */

.highlights {
  min-height: 190px;
  color: #fff;
  font-size: 100%;
  font-family: Avalon, sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-position: center;
  margin: -4px 4px 8px 4px;
  align-items: flex-end;
  align-content: flex-start;
}

.highlights p {
  margin: 0;
  margin-bottom: 9px;
  width: 90%;
  padding-right: 32px;
}

#highlights-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/blue_shape.webp);
}

#highlights-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/screen_image.webp);
}

#highlights-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/screen_image.webp);
}

.highlight-title {
  font-size: 20px;
}

.highlight-info {
  text-decoration: none;
  color: #fff9;
  font-size: 14px;
}

.highlight-info a:hover {
  text-decoration: underline;
  color: #fff;
}

/* HIGHLIGHTS ENDS */

/** Latest funding STARTS **/

.container-latestFunding {
  padding: 20px;
  margin-top: 64px;
  font-family: sans-serif;
}

.latestFunding-header {
  font-size: 28px;
  color: #f42;
  font-weight: 700;
}

.latestFunding-header-links {
  display: flex;
  flex-direction: column;
}

.latestFunding-header-links a {
  font-size: 14px;
  color: #f42;
  text-decoration: none;
  margin-top: 11px;
}

.latestFunding-header-links a:hover {
  text-decoration: underline;
}

.latestFunding-body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.latestFunding-card {
  margin-top: 24px;
  background-color: rgba(255, 68, 34, 0.03)
}

.card-name {
  background-color: #f42;
  color: #fff;
  min-height: 43.33px;
  padding-left: 84px;
  font-size: 18px;
}

.card-name h4 {
  margin: 0;
  padding-top: 10.66px;
}

.labels-img {
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 10.66px;
  z-index: 1;
}

.card-price {
  padding-left: 84px;
  color: #000;
  background-color: rgba(255, 68, 34, 0.08);
  margin: 0;
  height: 48px;
}

.card-price h4 {
  margin: 0;
  padding-top: 11px;
  font-size: 18px;
  font-weight: 700;
}

.card-price h5 {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 100;
  font-size: 11px;
}

.card-labels {
  padding: 16px;
}

.labels-container {
  display: flex;
  padding: 6px;
}

.labels-container img {
  height: 16px;
  width: 16px;
}

.labels-container p {
  font-size: 13px;
  margin: 0;
  padding-left: 8px;
  font-weight: 100;
}

.card-description {
  border-top: rgba(255, 68, 34, 0.25) 1px solid;
  padding: 16px;
  font-size: 12px;
  font-weight: 100;
}

#wolt-card {
  display: none;
}

.card-description span {
  color: #aaa;
}

.footer-section-top {
  background-color: #191919;
  height: 100px;
}

.footer-socialmedia-icons,
.footer-links {
  display: flex;
  justify-content: center;
  color: white;
}

.footer-link {
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
}

.footer-socialmedia-icons {
  padding-top: 20px;
}

.bx {
  margin: 5px;
  background: #000;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}

.bx:hover {
  background: gray;
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-section-buttom {
  background-color: #000;
  margin-top: -16px;
}

.footer-section-buttom p {
  color: white;
  text-align: center;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
}

/** Latest funding ENDS **/

/** Footer STARTS ***/

footer {
  margin: 0;
  padding: 0;
}

.footer-section-top {
  background-color: #191919;
  max-height: 160px;
  padding: 0;
}

.footer-socialmedia-icons,
.footer-links {
  display: flex;
  justify-content: center;
  color: white;
}

.footer-link {
  font-family: sans-serif;
}

.footer-socialmedia-icons {
  padding-top: 20px;
}

.bx {
  margin: 4px;
  background: #333;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
}

.bx:hover {
  background: #131313;
  border: #333 2px solid;
}

.footer-links a {
  text-decoration: none;
  font-size: 13px;
  color: #aaa;
  font-family: sans-serif;
  margin-bottom: 24px;
  margin-left: 7px;
  margin-right: 7px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-section-buttom {
  background-color: #000;
  margin-top: -16px;
  min-height: 97px;
  display: flex;
}

.footer-section-buttom p {
  text-align: center;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  display: block;
  margin: 22px auto;
  color: #aaa;
  max-width: 250px;
}

.footer-section-buttom p i {
  color: #fff;
  font-weight: 700;
}

/** Footer ENDS ***/

/* MAIN ENDS */

/* Media Queries STARTS */

/** Tablet STARTS **/

/** Tablet ENDS **/

/* Desktop STARTS */
@media screen and (min-width: 1024px) {
  .top-nav-menu-fast-links {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 8px;
    margin: 0;
  }

  .top-nav-menu-links {
    display: flex;
    float: right;
    justify-content: flex-end;
    width: 100%;
    margin-top: 28px;
    border: transparent;
  }

  .menu-links-first {
    display: flex;
    width: 90%;
    padding-left: 8px;
    margin-top: 8px;
  }

  .top-nav-menu-logo {
    display: none;
  }

  .top-nav-banner {
    margin-top: 22px;
    height: 35px;
    display: flex;
  }

  .nav-banner-comment {
    margin: 8px;
  }

  #highlights-3 {
    margin-top: 0;
    width: calc(40% - 8px);
    height: 222px;
    float: right;
    font-size: 20px;
  }

  #highlights-2 {
    width: calc(40% - 8px);
    height: 220px;
    float: right;
    font-size: 20px;
  }

  #highlights-1 {
    width: calc(60% - 8px);
    height: 450px;
    float: left;
  }

  #highlights-1 .highlight-title {
    font-size: 32px;
  }

  .latestFunding-card {
    width: 24%;
  }

  #wolt-card {
    display: block;
  }
}

/* Desktop ENDS */

/* Media Queries ENDS */
