/* General Attributes STARTS */

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

main {
  margin-top: 250px;
}

.section {
  display: block;
  margin: 16px auto;
  max-width: 1200px;
}

/* General Attributes ENDS */

/* NAV BAR FIXED STARTS */

.top-nav {
  position: fixed;
  background-color: #2d76ee;
  width: 100%;
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0;
  z-index: 1;
  min-height: 86px;
}

.top-nav-record {
  padding: 2px 16px;
  max-height: 82px;
}

.top-nav-record-title {
  height: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  margin-top: 16px;
}

.top-nav-record-comment {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  margin: 0;
  margin-bottom: 16px;
}

.record-comment-link {
  text-decoration: underline;
  color: #fff;
  margin-left: 12px;
}

.top-nav-menu-fast-links {
  display: none;
}

.top-nav-button {
  display: inline-block;
  width: 50%;
  min-height: 48px;
  background-color: #2d76ee;
  border: 1px solid #fff;
  color: white;
  border-bottom: none;
  margin-left: -2.5px;
}

.record-nav-button-img {
  width: 9px;
}

.top-nav-button:hover {
  background-color: white;
  color: black;
}

.top-nav-menu {
  position: fixed;
  top: 132px;
  background-color: white;
  width: 100%;
  height: 48px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  z-index: 1;
}

.top-nav-menu-logo {
  width: 106px;
  height: 48px;
}

.top-nav-menu-links {
  display: flex;
  float: right;
  justify-content: flex-end;
}

.menu-links-first {
  display: none;
}

.nav-menu-link {
  width: 25px;
  margin-top: 10px;
  margin-right: 20px;
}

.top-nav-banner {
  position: fixed;
  top: 160px;
  text-align: start;
  background-color: yellow;
  height: 30px;
  width: 100%;
  padding-top: 30px;
}

.top-nav-banner a {
  text-decoration: none;
  color: black;
  font-size: 11px;
}

.highlight-info a {
  color: #fff9;
  text-decoration: none;
}

.highlight-date {
  display: none;
}

.footer-links {
  display: flex;
  justify-content: center;
  color: white;
}

.latestFunding-header-links a {
  font-size: 14px;
  color: #f42;
  text-decoration: none;
  margin-top: 11px;
}

.footer-links a {
  text-decoration: none;
  font-size: 13px;
  color: #aaa;
  font-family: sans-serif;
  margin-bottom: 24px;
  margin-left: 7px;
  margin-right: 7px;
}

.nav-banner-comment {
  margin-left: 10px;
}

header {
  position: fixed;
  top: 0;
}

.top-nav-menu-2 {
  display: none;
}

/* NAV BAR FIXED ENDS */

/* MAIN STARTS */

/* HIGHLIGHTS STARTS */

.highlights {
  min-height: 190px;
  color: #fff;
  font-size: 100%;
  font-family: Avalon, sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-position: center;
  margin: -4px 4px 8px 4px;
  align-items: flex-end;
  align-content: flex-start;
  padding: 5px;
}

#highlights-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/blue_shape.webp);
}

#highlights-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/screen_image.webp);
}

#highlights-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/screen_image.webp);
}

.highlight-title {
  display: block;
  width: calc(100% - 8px);
  margin: 0;
}

.highlight-title a {
  text-decoration: none;
  color: white;
  width: fit-content;
  margin: 0;
  font-size: 18px;
}

.highlight-info {
  text-decoration: none;
  display: block;
  color: #fff9;
  font-size: 14px;
  margin: 0;
  margin-bottom: 19px;
  width: calc(100% - 2%);
}

.highlight-tnw-logo {
  display: none;
}

/* HIGHLIGHTS ENDS */

/** Latest funding STARTS **/

.links-lineafter {
  display: none;
  margin-left: 5px;
}

.latestFunding-header-title {
  display: inline-block;
  font-size: 28px;
}

.latestFunding-header-title a {
  text-decoration: none;
  color: #f42;
  font-size: 28px;
}

.container-latestFunding {
  padding: 20px;
  margin-top: 64px;
  font-family: sans-serif;
}

.latestFunding-header {
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  padding-bottom: 18px;
}

.latestFunding-header-links {
  display: flex;
  margin-top: -20px;
  flex-direction: column;
}

.latestFunding-body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.latestFunding-card {
  margin-top: 24px;
  background-color: rgba(255, 68, 34, 0);
}

.card-labels a {
  font-size: 13px;
  padding-left: 8px;
}

.card-name {
  background-color: #f42;
  color: #fff;
  min-height: 43.33px;
  padding-left: 84px;
  font-size: 18px;
}

.card-title a {
  text-decoration: none;
  color: white;
}

.card-description a {
  text-decoration: none;
  color: #000;
}

.card-description span {
  color: #aaa;
}

.card-description a span {
  text-decoration: none;
  color: #aaa;
}

.labels-container a {
  text-decoration: none;
  color: black;
}

.latest-news-header a{
  text-decoration: none;
  color: #f42;
}

.latest-news-details a {
  text-decoration: none;
  color: #aaa;
}

.deals_header a {
  text-decoration: none;
  color: #f42;
}

.deal_title a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: sans-serif;
}

.latestFunding-header-links a:hover {
  text-decoration: underline;
}

.card-description a:hover {
  text-decoration: underline;
}

.top-nav-banner a:hover {
  text-decoration: underline;
}

.card-title a:hover {
  text-decoration: underline;
}

.highlight-info a:hover {
  text-decoration: underline;
  color: #fff;
}

.labels-container a:hover {
  text-decoration: underline;
}

.card-name h4 {
  margin: 0;
  padding-top: 10.66px;
}

.labels-img {
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 10.66px;
  z-index: 1;
}

.card-price {
  padding-left: 84px;
  color: #000;
  background-color: rgba(255, 68, 34, 0.08);
  margin: 0;
  height: 48px;
}

.card-price h4 {
  margin: 0;
  padding-top: 11px;
  font-size: 18px;
  font-weight: 700;
}

.card-price h5 {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 100;
  font-size: 11px;
}

.labels-container {
  display: flex;
  padding: 6px;
}

.labels-container img {
  height: 16px;
  width: 16px;
}

.labels-container p {
  font-size: 13px;
  margin: 0;
  padding-left: 8px;
  font-weight: 100;
}

.card-description {
  border-top: rgba(255, 68, 34, 0.25) 1px solid;
  padding: 16px;
  font-size: 12px;
  font-weight: 100;
}

#wolt-card {
  display: none;
}

.nav-gridian {
  display: none;
}

/** Latest funding ENDS **/

/** Latest news **/
.news {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.news-container {
  padding: 8px 0;
}

.latest-news-img {
  width: 90px;
  height: 80px;
  float: left;
  padding-right: 5px;
}

.latest-news-title {
  font-size: 14px;
  width: 90%;
}

.latest-news-title a {
  text-decoration: none;
  color: black;
}

.latest-news-title a:hover {
  text-decoration: underline;
}

.latest-news-details {
  font-size: 12px;
  color: #aaa;
}

.latest-news-author::after {
  content: ' · ';
}

/** Topics STARTS **/

.topics-section {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding: 8px;
}

.topics-section .latestFunding-header-title {
  color: #f42;
  text-decoration: none;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 800;
}

.categories-img-container {
  display: flex;
  flex-direction: column-reverse;
  min-height: 300px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/1280px-GameStop_Globen-e1611550531323-368x276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.img-container-src {
  color: #fff;
  margin: 5px 0;
}

.img-container-titleNew {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  padding-right: 50px;
  font-weight: 600;
}

.details-author {
  color: #aaa;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 12px;
}

.details-author::after {
  content: ' · ';
}

.details-date {
  color: #aaa;
  font-family: sans-serif;
  font-size: 12px;
}

.latest-container {
  background-color: #f422;
  margin: 0;
  display: flex;
  height: 96px;
}

.latest-header {
  margin: 0;
  padding-top: 16px;
  padding-left: 16px;
  color: #f42;
  font-size: 13px;
}

.latest-title {
  padding-left: 16px;
  text-decoration: none;
  color: #f42;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 14px;
}

.latest-image {
  background-image: url(../img/1280px-20th_Anniversary_Schwab_Foundation_Gala_Dinner_44887783681-e1611132397581.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 96px;
  width: 96px;
}

/** Topics ENDS **/

.latest-news-details a:hover {
  color: black;
}

/** Latest news end **/

/** Topics STARTS **/

.topic {
  width: 100%;
}

.section-header-title {
  display: block;
  font-size: 22px;
  color: #f42;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 800;
}

.section-header-title:hover {
  color: #000;
}


/** Footer ENDS ***/

/** Footer STARTS ***/

.footer-socialmedia-icons,
.footer-links {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 20px;
}

#gear-topic {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/gear-topics-section-background.jpg);
}

.bx {
  margin: 4px;
  background: #333;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
}

#app-topic {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/apps-topics-section-background.png);
}

#tech_topic {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/tech-topics-section-background.jpg);
}

#creative_topic {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/creative-topics-section-background.png);
}

#podium_topic {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 0) 100%), url(../img/podium-topics-section-background.png);
}

.footer-section-buttom {
  background-color: #000;
  margin-top: -16px;
  min-height: 97px;
  display: flex;
}

.img-container-titleNew:hover {
  text-decoration: underline;
}

.details-author {
  color: #aaa;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 12px;
}

.details-author:hover {
  color: #fff;
}

.details-author::after {
  content: ' · ';
}

.details-date {
  color: #aaa;
  font-family: sans-serif;
  font-size: 12px;
}

.latest-container {
  background-color: #f421;
  margin: 0;
  display: flex;
  height: 96px;
}

.latest-header {
  margin: 0;
  padding: 10px;
}

.latest-header a {
  text-decoration: none;
  color: #f42;
  padding-left: 10px;
  font-size: 12px;
  font-family: sans-serif;
}

.latest-header a:hover {
  text-decoration: underline;
}

.latest-container div {
  width: 100%;
}

.latest-title {
  text-decoration: none;
  color: #f42;
  margin: 0;
  padding-left: 20px;
}

.latest-title a {
  text-decoration: none;
  color: #f42;
  font-size: 14px;
  font-weight: bold;
  display: block;
  font-family: sans-serif;
  width: calc(70%);
}

.latest-title a:hover {
  text-decoration: underline;
}

.latest-img {
  width: 120px;
  height: 96px;
  float: right;
  right: 8px;
  justify-items: flex-end;
}

.latest-ul {
  list-style: none;
}

.latest-ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  margin-right: 6px;
}

.latest-li {
  display: flex;
  border-bottom: 1px solid #aaa5;
  margin: 5px 0;
  margin-left: -40px;
  padding-bottom: 5px;
  font-size: 14;
  color: #333;
}

.latest-li a {
  display: inline-block;
  padding-left: 0px;
  color: #777;
  text-decoration: none;
  font-size: 13px;
}

.latest-li a:hover {
  color: black;
}

/** Topics ENDS **/

/** Topics 2 ***/

.topic_2 {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  padding-left: 2px;
}
/*** Topics end ***/

/****deals***/

.deals_header {
  width: 170px;
  padding-top: 15px;
  margin-left: 10px;
}

.deals_menu {
  float: right;
  margin-right: 10px;
}

.deals_menu a {
  text-decoration: none;
  color: #f42;
  font-weight: 300;
}

.deals_container {
  display: flex;
  flex-direction: row-reverse;
}

.deals_img {
  width: 100px;
  height: 90px;
  margin: 10px;
  border-right: #000 1px solid;
  border-bottom: #000 1px solid;
}

.deals-ribbon-svg {
  display: none;
}

.deal_info {
  float: right;
  width: 100%;
  padding-top: 5px;
}

.deal_info p {
  margin: 5px;
}

.deal_title a:hover {
  text-decoration: underline;
}

.deal_price {
  text-decoration: line-through;
  color: #aaa;
}

.deal_current_price {
  text-decoration: none;
  color: #555;
}

.deal_current_price:hover {
  color: black;
}

/** Footer STARTS **/

footer {
  margin: 0;
  padding: 0;
}

.footer-section-top {
  background-color: #191919;
  max-height: 160px;
  padding: 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-icon {
  color: white;
}

.footer-icon:visited {
  color: white;
}

.footer-logo {
  width: 40px;
}

/** Footer ENDS **/

/** Footer STARTS **/

.footer-socialmedia-icons,
.footer-links {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 20px;
}

.footer-link {
  font-family: sans-serif;
}

.bx {
  margin: 4px;
  background: #333;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
}

.bx:hover {
  background: #131313;
  border: #333 2px solid;
}

.footer-section-buttom {
  background-color: #000;
  margin-top: -16px;
  min-height: 97px;
  display: flex;
}

.footer-section-buttom p {
  text-align: center;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  display: block;
  margin: 22px auto;
  color: #aaa;
  max-width: 250px;
}

.footer-section-buttom p i {
  color: #fff;
  font-weight: 700;
}

/** Footer ENDS **/

/* MAIN ENDS */

/* Media Queries STARTS */

/** Tablet STARTS **/

@media screen and (min-width: 720px) {
  
  .top-nav-menu {
    position: fixed;
    top: 120px;
    background-color: white;
    height: 45px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
  }

  .top-nav-button {
    background-color: #2d76ee;
    border: 1px solid #fff;
    color: white;
    border-bottom: none;
  }

  .top-nav-banner {
    position: fixed;
    text-align: start;
    background-color: yellow;
    width: 100%;
    max-height: 30px;
    margin: 0;
  }

  .top-nav-banner a {
    font-size: 15px;
    padding-left: 5px;
  }

  #nav-menu-logo {
    display: none;
  }

  .nav-menu-link {
    position: absolute;
    width: 20px;
    top: 0;
    right: 120px;
  }

  .top-nav-menu-fast-links {
    margin: 0;
    width: calc(100% - 5px);
    display: flex;
    background-color: #000;
    position: relative;
    left: 100px;
  }

  .top-nav-menu-fast-links a {
    text-decoration: none;
    color: #aaa;
    margin-left: 5px;
  }

  .nav-gridian a {
    margin: 5px;
    text-decoration: none;
    color: #aaa;
  }

  .top-nav-menu-logo {
    display: flex;
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 55px;
  }

  main {
    margin-top: 220px;
  }

  #highlights-3 {
    width: 35%;
    float: right;
  }

  #highlights-2 {
    width: 35%;
    float: right;
  }

  #highlights-1 {
    width: calc(65% - 44px);
    height: 394px;
    float: left;
  }

  .highlight-title {
    display: flex;
    margin: 0 5px;
    font-size: 15px;
  }

  .highlight-info {
    width: calc(100% - 10%);
  }
  
  .highlights p {
    padding-right: 9%;
  }

  #highlights-1 .highlight-title a {
    font-size: 28px;

  }

  .highlights p {
    padding-right: 9%;
  }

  #highlights-1 .highlight-title a {
    font-size: 28px;
  }
   
  /*****topics2*****/
  /** Topics 2 ***/

  .topic_2 {
    display: grid;
    grid-template-columns: 45% 45%;
    padding-left: 50px;
  }

  .topic_2_container {
    margin-left: 10px;
    padding-top: 50px;
  }

  .grid_second_part {
    margin-top: 150px;
  }
  
  /*** Topics end ***/
  /*****************/
  /** Latest funding STARTS **/

  .latestFunding-header-title {
    width: 800px;
  }

  .top-nav-menu-fast-links a:hover {
    text-decoration: underline;
  }

  .latestFunding-header-title a:hover {
    text-decoration: underline;
  }

  .latestFunding-header-links {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    width: calc(100% - 10px);
    justify-content: flex-start;
  }

  .links-lineafter {
    display: block;
    margin: 0 5px;
  }

  .latestFunding-body {
    flex-direction: row;
    justify-content: space-between;
  }

  .latestFunding-card {
    width: 32%;
  }

  /** Latest funding ENDS **/

  /* Latest News STARTS */

  .news {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .latest-news-header {
    display: block;
    width: 95%;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-size: cover;
    background-position: center;
    margin: 8px;
  }

  .latest-news-img {
    width: 100%;
    min-height: 132px;
    overflow: hidden;
  }

  .latest-news-title {
    margin: 8px 0;
  }

  .latest-news-details {
    margin: 0;
  }
  
  /* Latest News ENDS */

  .topics-section {
    display: flex;
    flex-direction: row;
  }

  .topic {
    width: calc(50% - 50px);
    margin: 16px;
    padding-left: 5px;
  }

  .top-nav-menu-links {
    display: block;
    width: 100%;
    max-height: 36px;
    position: relative;
    left: 126px;
    padding-right: 25px;
    border: 1px solid #000;
    background-color: white;
    z-index: -1;
  }

  .nav-gridian {
    display: flex;
    margin-top: 5px;
    position: relative;
  }

  .nav-gridian a:hover {
    color: black;
  }

  /* Latest Deals STARTS */

  .deals-grid {
    padding: 32px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 280px;
    grid-row-gap: 10px;
  }

  .deals_container {
    display: flex;
    flex-direction: column-reverse;
  }

  .deals_img {
    width: 90%;
    min-height: 170px;
    margin: 0;
  }
  

  .deal_info {
    width: 90%;
  }
}

  /* Latest Deals ENDS */

/* Desktop STARTS */
@media screen and (min-width: 1124px) {
  
  .top-nav-menu-fast-links {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 8px;
    margin: 0;
  }

  .top-nav-menu-links {
    display: flex;
    float: right;
    justify-content: flex-end;
    width: 100%;
    margin-top: 28px;
    position: relative;
    left: 0.2px;
    border: transparent;
  }

  .menu-links-first {
    display: flex;
    width: 90%;
    padding-left: 8px;
    margin-top: 8px;
  }

  .top-nav-menu-logo {
    display: none;
  }

  .nav-gridian {
    padding-top: 8px;
    display: flex;
    width: 100%;
    margin-left: 28px;
  }

  .nav-gridian a {
    position: relative;
    bottom: 5px;
  }

  .nav-menu-link {
    position: absolute;
    width: 20px;
    top: 0;
    right: 1px;
  }

  .nav-banner-comment {
    margin: 8px;
  }

  #highlights-3 {
    margin-bottom: 6px;
    width: 30%;
    float: right;
  }

  #highlights-2 {
    width: 30%;
    float: right;
  }

  #highlights-1 {
    width: calc(70% - 44px);
    height: 393px;
    float: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 35%, rgba(253, 0, 0, 0.7) 100%), url(../img/blue_shape.webp);
  }

  #highlights-1 .highlight-title a {
    font-size: 32px;
  }

  .highlight-date {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 250px;
    font-size: 14px;
  }

  .highlight-tnw-logo {
    position: absolute;
    display: block;
    left: 22px;
    top: 250px;
  }

  .latestFunding-header-title {
    width: 800px;
  }

  .latestFunding-header-links {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    width: calc(100% - 10px);
    justify-content: flex-end;
  }

  .links-lineafter {
    margin: 0 5px;
  }

  .latestFunding-card {
    width: 24%;
  }

  #wolt-card {
    display: block;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    background-size: cover;
    background-position: center;
    margin: 8px;
  }

  .topic {
    width: 30%;
  }

  .topic_2 {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding-left: 40px;
  }
  
  .topic_2_container {
    margin-left: 35px;
  }

  /* Latest Deals STARTS */

  .deals-grid {
    padding: 32px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 280px;
  }

  .deals_container {
    display: flex;
    flex-direction: column-reverse;
  }

  .deals_img {
    width: 90%;
    min-height: 170px;
    margin: 0;
  }

  /* Latest Deals ENDS */
  
}

/* Desktop ENDS */

/* Media Queries ENDS */